//
// Variables
// --------------------------------------------------
// Paths
$svg-src: 				'images/svg-src/';
$svg-dest: 				'images/svg-dest/';


// Global values
// --------------------------------------------------
$red: 					#981B1E !default;



// Scaffolding
// -------------------------
$bodyBackground:        $red !default;;