<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="navbar-brand" href="{{#isnt title "Home"}}../{{/isnt}}index.html">Assemble</a>
      <ul class="nav">
        <li{{#is title "Home"}} class="active"{{/is}}>
          <a href="{{#isnt title "Home"}}../{{/isnt}}index.html">Home</a>
        </li>
      </ul>
    </div>
  </div>
</div>