 <ul class="social-link-icons">
    <li class="linkedin">
      <a href="http://linkedin.com/in/raminmohammadi"><strong>Linkedin</strong></a>
  </li>
  <li class="tumblr">
      <a href="http://blog.raminizer.com/"><strong>Tumblr</strong></a>
  </li>
  <li class="twitter">
      <a href="http://twitter.com/raminizer"><strong>Twitter</strong></a>
  </li>
  <li class="slideshare">
    <a href="http://slideshare.com/logicaroma"><strong>Slideshare</strong></a>
</li>
<!-- <li class="foursquare">
    <a href="http://foursquare.com/"><strong>Twitter</strong></a>
</li> -->
<li class="github">
    <a href="http://github.com/logicaroma"><strong>Github</strong></a>
</li>
<!--  <li class="google_plus">
    <a href="http://twitter.com/"><strong>Twitter</strong></a>
</li> -->
<!-- <li class="spotify">
    <a href="http://spotify.com/"><strong>Spotify</strong></a>
</li> -->
<li class="soundcloud">
    <a href="http://soundcloud.com/logicaroma"><strong>Soundcloud</strong></a>
</li>
<li class="vimeo">
    <a href="http://vimeo.com/raminizer"><strong>Vimeo</strong></a>
</li>
<!-- <li class="youtube">
    <a href="http://youtube.com/"><strong>Youtube Channel</strong></a>
</li> -->
<li class="lastfm">
    <a href="http://lastfm.com/user/logicaroma"><strong>Last.fm</strong></a>
</li>
<li class="flickr">
    <a href="http://flickr.com/raminizer"><strong>Flickr</strong></a>
</li>
<!-- <li class="picasa">
    <a href="http://twitter.com/"><strong>Twitter</strong></a>
</li> -->
<!--  <li class="rss">
    <a href="http://twitter.com/"><strong>Twitter</strong></a>
</li> -->
<li class="vcard">
    <a href="mailto:ramin@raminizer.com"><strong>Mail me</strong></a>
</li>
</ul>
